@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Open+Sans&family=Poppins&family=Ubuntu&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}
.hero-bg-container{
    position: relative;
    height: 100vh;
}

.base-container{
    max-width: 1400px;
    width:100%;
    margin: 0 auto;
    padding:0px 30px;
}
.section{
    padding-bottom:30px;
}
.home-content-container{
    display: flex;
    justify-content:space-between;
    min-height: 85vh;
      
    }
    .circle-video-container{
        align-self: flex-end;
        margin-bottom: 20px;
    }
    .main-heading-container{
        align-self: flex-start;
        margin-top: 50px;
    }

body{
    background-color: #2a2a2a;
}

.main-backgound-video{
    position:absolute;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%; 
}


.navbar-bg-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:15%;
    position: relative;
}
.nav-sticky-container{
    display:flex;
    align-items:center;
    gap: 15px;
    position: fixed;
    top: 45px;
    right: 140px;
}
.nav-link-container{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#ffffff;
    padding:16px 20px;
    border-radius: 25px;
}
.nav-link-container li a{
    text-decoration: none;
    font-size: 16px;
    width:100%;
    padding: 16px 20px;
    font-family: inter;
    color:#000;
}
/* contact____________________ */

.contact-button{
    background-color: #2a2a2a;
    border-radius:  25px;
    padding:10px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;  
    overflow: hidden; 

}
.contact-button a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-right:5px;
}
.fa-rotate-by{
    transform: rotate(-40deg);
    color: #fff;
    font-weight:100px;
}
/* toggle____________________ */
.custom-toggle{
    cursor: pointer;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 4px;
}
.custom-toggle span{
    padding:2px 16px;
    border-radius: 20px;
    background-color:#2a2a2a;
}
.custom-toggle .toggle-2{
    padding:2px 12px;
  }
.custom-toggle .toggle-3{
  padding:2px 8px;
}


.text{
    font-size: 64px;
}
.main-heading-container{
    width:600px;
}

.transform-text{
    font-weight: bold;
    color:#7209b7;  
    position:relative;
    /* width:600px; */
}




.nav-left-part{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.nav-right-part{
    width:20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
}

/* ______________mainheading transformation__________________ */


.tranform-text{
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }


/* _________________________________________circular text animation_________________________________________ */

.text-circlec-bg{
    position:relative;
    height:120px;
    width:120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-text{
    width:100%;
    height:100%;
    position: absolute;
}
.circle-text span{
    position: absolute;
    left: 50%;
    font-size: .7rem;
    transform-origin: 0 50px;
    animation: anim 10s linear infinite;

}
@keyframes anim {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
.play-button-container{
    position: absolute;
    top:20px;
    left:30px;
    background-color: white;
    height:60px;
    width:60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-play-button{
    font-size: 25px;
    cursor: pointer;
}

.video-container{
    width:"320px";
    height:"180px";
    border-radius:20px;
    overflow: hidden;
}
/* .working-video{
    width:"320px";
     height:"180px";
} */
.circle-video-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.outer-circle-container{
    position: relative;
    right:250px;
    top:70px

}





/* _______________________________________about us______________________________________ */

.about-bg-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 50px;
}
.about-text-container {
    width:50%;
}
.about-text-container h1{
    font-size: 32px;
    color:#eee;
    margin-bottom: 10px;
}

.about-text-container p{
    font-size: 20px;
    color:#eee;
    opacity: 0.4;
    line-height: 1.5;
 
}
.brutanix-stamp-container{
    width: 30%;
    position: relative;
}

.brutanix_stamp_circle{
    animation: anim 10s linear infinite;
    width: 360px
}
.brutanix_stamp_logo{
    width:125px;
    position: absolute;
    left: 110px;
    top:100px;
}

@keyframes anim {
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}
@media(max-width:990px){
    .about-text-container {
        width:60%;
    }
    .about-text-container h1{
        font-size: 28px;
    }
    .about-text-container p{
        font-size: 16px;
    }
    .brutanix_stamp_circle{
        width: 290px;
    }
    .brutanix_stamp_logo{
        width: 80px;
    }
}

@media(max-width:770px){
    .about-text-container {
        width:60%;
    }
    .about-text-container h1{
        font-size: 20px;
    }
    .about-text-container p{
        font-size: 14px;
    }
    .brutanix_stamp_circle{
        width: 250px;
    }
    .brutanix_stamp_logo{
        width: 70px;
        left: 90px;
        top:90px;
    }
}
@media(max-width:670px){
    .about-text-container {
        width:60%;
    }
    .about-text-container h1{
        font-size: 16px;
    }
    .about-text-container p{
        font-size: 12px;
    }
    .brutanix_stamp_circle{
        width: 220px;
    }
    .brutanix_stamp_logo{
        width: 70px;
        left: 75px;
        top:70px;
    }
}
@media(max-width:580px){
    .about-text-container {
        width:60%;
    }
    .about-text-container h1{
        font-size: 12px;
    }
    .about-text-container p{
        font-size: 8px;
    }
    .brutanix_stamp_circle{
        width: 170px;
    }
    .brutanix_stamp_logo{
        width: 50px;
        left: 60px;
        top:60px;
    }
}

@media(max-width:480px){
    .about-text-container {
        width:60%;
    }
    .about-text-container h1{
        font-size: 12px;
    }
    .about-text-container p{
        font-size: 6px;
    }
    .brutanix_stamp_circle{
        width: 120px;
    }
    .brutanix_stamp_logo{
        width: 40px;
        left: 40px;
        top:37px;
    }
    .about-bg-container{
        margin-bottom: 10px;
    }
}






/* _______________________________________our works______________________________________ */

.our-work-heading-section{
    margin-bottom: 40px;
}
.our-work-heading-section h1{
    color: #eee;
    font-size: 36px;
}

.our-work-heading-section p{
    font-size: 24px;
    color:#eee;
    opacity: 0.4;
    margin-top: 10px;
    width: 90%;
    /* line-height: 1.5; */
}

.card-scroller-bg-container{
display: flex;
flex-direction: row;
/* flex-wrap: nowrap; */
gap: 10px;
width:100%;
margin-bottom: 20px;
overflow-x: scroll;

}

.card-scroller-bg-container::-webkit-scrollbar {
    display: none;
  }

.my-card{
    border: 2px solid gray;
    border-radius: 30px;
    padding:50px;
    position: relative;
    /* width:600px; */
    width:fit-content;
    
}
.card-strap{
    background-color: #aef782;
    width:250px;
    height:50px;
    position: absolute;
    top:0;
    left: 0;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.card-header h1{
    font-size: 32px;
    background: -webkit-linear-gradient(#7209B7,#3772FF);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    margin-bottom: 10px;
}

.card-header p{
    font-size: 20px;
    color:#eee;
    opacity: 0.4;
    width:100%;
    max-width: 600px;
    text-align: end;
}
.card-header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;
}

.card-application-img{
    width:500px;
    height: 400px;
}
.card-ceo-section{
    background-color: rgba(240, 240, 240, 10%);
    border-radius: 20px;
    padding:20px;
    width: fit-content;
}
.card-ceo-header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.card-cep-para{
    min-width: 300px;
    max-width: 400px;
   color:#eee;
   opacity: 0.3;
   font-size: 16px;
   line-height: 22px;
   font-weight: normal;
}
.ceo-image{
    width:50px;
    height:50px;
}
.card-ceo-details h1{
    font-size: 18px;
    color:#eee;
    opacity: 0.8;
    font-weight: normal;
    
}
.card-ceo-details p{
    font-size: 12px;
    color:#eee;
    opacity: 0.5    ;
    font-weight: normal;
    margin-bottom: 0px;
}
.ceo-logoimage{
    width:35px;
}
.card-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}


@media(max-width:992px){
    .my-card{
        border: 2px solid gray;
        border-radius: 30px;
        padding:30px;
}
.card-application-img{
    width:400px;
    height: 300px;
}
.card-header h1{
    font-size: 28px;
}
.card-header p{
    font-size: 16px;
}

.our-work-heading-section p{
    font-size: 20px;
}
.card-ceo-details h1{
    font-size: 16px;

}
.card-ceo-details p{
    font-size: 10px;
}
.ceo-logoimage{
    width:28px;
}
.card-ceo-section{
    padding:15px;
}
}

@media(max-width:770px){
.my-card{
    padding:20px;
}
.card-application-img{
    width:300px;
    height: 250px;
}
.card-header h1{
    font-size: 25px;
}
.card-header p{
    font-size: 14px;
}

.our-work-heading-section p{
    font-size: 16px;
}
.card-ceo-details h1{
    font-size: 12px;

}
.card-ceo-details p{
    font-size: 10px;
}
.ceo-logoimage{
    width:28px;
}
.card-ceo-section{
    padding:15px;
}
.card-cep-para{
    font-size: 12px;
    width: 10px;
}
.ceo-image{
    width:40px;
    height:40px;

}
.card-ceo-section{
    width:100%;
    padding:10px;

}
.card-strap{
    background-color: #aef782;
    width:200px;
    height:50px;
}
.our-work-heading-section p{
    font-size: 16px;
}
}

@media(max-width:650px){
    .our-work-heading-section{
        margin-bottom: 10px;
    }
    .card-application-img{
        width:300px;
        height: 250px;
    }
    .card-header h1{
        font-size: 22px;
    }
    .card-header p{
        font-size: 12px;
    }
    
    .our-work-heading-section p{
        font-size: 16px;
    }
    .card-ceo-details h1{
        font-size: 12px;
    
    }
    .card-ceo-details p{
        font-size: 10px;
    }
    .card-cep-para{
        min-width: 200px;
       font-size: 12px;
       line-height: 18px;
       font-weight: normal;
    
    }
    .ceo-image{
        width:30px;
        height:30px;
    
    }
    .card-ceo-section{
        width:100%;
        padding:10px;
    
    }
    .card-strap{
        width:150px;
        height:40px;
    }
  
    }
    
    @media(max-width:570px){
        .card-scroller-bg-container{
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
        }
        .my-card{
            width: 100%;
            margin-bottom: 20px;
          }
        .our-work-heading-section{
            margin-bottom: 20px;
        }
        .card-application-img{
            width:250px;
            height: 200px;
        }
        .card-header h1{
            font-size: 22px;
        }
        .card-header p{
            font-size: 12px;
        }
        
        .our-work-heading-section p{
            font-size: 16px;
            line-height: 20px;
        }
        .card-ceo-details h1{
            font-size: 8px;
        
        }
        .card-ceo-details p{
            font-size: 6px;
        }
        .card-cep-para{
            min-width: 170px;
           font-size: 10px;
           line-height: 14px;
           font-weight: normal;
        
        }
        .ceo-image{
            width:40px;
            height:40px;
        
        }
        .card-ceo-section{
            width:100%;
            padding:10px;
        
        }
        .card-strap{
            width:150px;
            height:40px;
        }
      
        }

        @media(max-width:510px){
            .card-application-img{
                width:200px;
                height: 150px;
            }
            .card-ceo-details h1{
                font-size: 8px;
            
            }
            .card-ceo-details p{
                font-size: 6px;

            }
            .card-cep-para{
                min-width: 150px;
               font-size: 8px;
               line-height: 10px;
               font-weight: normal;
               margin: 0px;
            }
            .ceo-image{
                width:30px;
                height:30px;
            
            }
            .ceo-logoimage{
                width:20px;
            }
            .card-ceo-section{
                padding:10px;
            
            }
            .card-ceo-header{
            margin-bottom: 10px;
            }
            .card-scroller-bg-container{
                margin-bottom: 40px;
            }

        }

        @media(max-width:430px){
            .card-application-img{
                width:150px;
                height: 120px;
            }
            .card-ceo-details h1{
                font-size: 6px;
                margin-bottom: 3px;
            
            }
            .card-ceo-details p{
                font-size: 4px;

            }
            .card-cep-para{
                min-width: 150px;
               font-size: 8px;
               line-height: 10px;
               font-weight: normal;
               margin: 0px;
            }
            .ceo-image{
                width:20px;
                height:20px;
            
            }
            .ceo-logoimage{
                width:15px;
            }
            .card-ceo-section{
                padding:10px;
            
            }
            .card-ceo-header{
            margin-bottom: 10px;
            }
            .card-scroller-bg-container{
                margin-bottom: 40px;
            }

        }
        @media(max-width:380px){
            .card-cep-para{
                min-width: 120px;
               font-size: 6px;
               line-height: 8px;
            }
            .card-strap{
                width:110px;
                height: 35px;
            }
            .card-header h1{
                font-size: 16px;
            }
            .card-header p{
                font-size: 10px;
            }
            .our-work-heading-section h1{
                color: #eee;
                font-size: 28px;
            }
        }

/* ________________________our services_____________________________________ */

.our-services-main-heading{
    color: #eee;
    font-size: 36px;
    /* position: sticky; */
    top:0px;
    z-index:10000;
    background-color: #2a2a2a;
    margin-bottom: 50px;
}
.service-banner{
    width: 60%;
    
}
.service-banner-name{
    color: #eee;
    font-size: 30px;
}
.service-banner-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    position: sticky;
    top:40px;
    background-color:#2a2a2a;
    z-index:100;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
}
.service-banner{
    align-self: center;
}
.service-banner-name{
    align-items: flex-start;
}
.service-img{
    width:250px;
    height:250px;
    border-radius: 15px;
    margin-right: 40px;
}
.services-item-name{
    color: #eee;
    font-size: 30px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(-180deg);
    align-self: flex-end;
}
.services-item-para{
    font-size:clamp(1.1rem,1.2vw,4rem);
    color:#eee;
    opacity: 0.4;
    line-height: 1.5;
}
.service-items{
    margin-bottom: 10px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap: 10px;
    padding:20px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
@media (max-width:990px) {
    .services-item-para{
        font-size:clamp(0.9rem,1.0vw,4rem);
    }
}
@media (max-width:766px) {
    .services-item-para{
        /* font-size:24px */
    }
    .service-items{
     padding:20px 0px;
     overflow: hidden;   

    }
    .service-img{
    width:230px;
    height:230px;
    margin-right: 15px;
    }
    .our-services-main-heading{
        color: #eee;
        font-size: 28px;
    }
}

/* _________________________________services videos__________________________________ */

.our-services-bg-container{
    padding-bottom: 60px;
}

.service-video-container{
    width:30%;
    position:relative;
    border-radius: 15px;
    overflow: hidden;
    height: 500px;
    /* min-width: 100px; */
    /* flex-grow: 1; */
}
.service-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
   position: absolute;
   z-index: -11;
}
.video-description{
    padding:20px 15px;
    /* padding-top: 450px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: end;
    color:white;
    opacity: 0;
    transition: all 0.6s ease-in;
    box-shadow: inset 0 0 1000px black;
}
.video-description h1{
    font-size: 30px;
}
.video-description p{
    font-size: 16px;
}
.video-description:hover{
    opacity: 1;
    
}
.extra-services-video-bg{
 width: 100%;
 display: flex;
 flex-direction: row;
 gap: 30px;
 justify-content: space-between;
 flex-wrap: wrap;
}
@media(max-width:1000px){
    .service-video-container{
        width:45%;
}
}
@media(max-width:770px){
    .service-video-container{
        width:45%;
        height: 350px;
    }
}
@media(max-width:770px){
    .service-video-container{
        width:46%;

    }
    .extra-services-video-bg{
        gap: 30px;
        flex-wrap: wrap;
    }
    .video-description h1{
        font-size: 20px;
    }
    .video-description p{
        font-size: 12px;
    }
}
@media(max-width:480px){
    .service-video-container{
        width:44%;
        height: 300px;
    }
    .extra-services-video-bg{
        gap: 10px;
    }
}
@media(max-width:400px){
    .service-video-container{
        width:100%;
        height: 350px;
    }
}

/* ______________________clients seciton_____________________ */

.our-clients-wrapper{
    height:100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.parallex-content-holder{
    background-color: white;
}
.clietn-card{
    background-color: #2a2a2a;
    position: absolute;
}
.parallex-content-bg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    /* height:100vh; */
   padding-bottom: 300px;
}
.parallex-description-bg{
    align-self: center;
    width: 50%;
    text-align: center;
    padding-top:300px;
  }

.clients-cards-scroller{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap:10px;
    align-items: center;
}



/* animation */

.clietn-card{
    opacity: 0;
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay))
}
.clietn-card:last-child{
    animation-delay: calc(3s * var(--delay))
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: translateY(100%)scale(0.5);
    }
    
    5%,20%{
        opacity: 0.4;
        transform: translateY(100%)scale(0.7);
    }
    25%,40%{
        opacity: 1;
        transform: translateY(0)scale(1);
    }
    
   45%, 60%{
        opacity: 0.4;
        transform: translateY(-100%)scale(0.7);
    }
     
    65%,100%{
        opacity: 0;
        transform: translateY(-100%)scale(0.5);
    }
}

.clietn-card{
    width:35%;
}

.client-ceo-image{
    width:70px;
    height:70px;
}
.client-card-cep-para{
    font-size: 20px;
}
.client-card-ceo-details h1{
  font-size: 24px;
}
.client-card-ceo-details p{
    font-size: 12px;
  }
.client-ceo-logoimage{
    width:40px;
    height:40px;
  }

  .parallex-description-bg{
    position: relative;

  }
  .parallex-description-bg h1{
    font-size: 42px;
    color:black; 
    font-weight: 450;
    margin-bottom: 15px;
  }
  .priority-tagline{
    font-size: 54px;
    color: #2a2a2a;
    font-weight: bold;
  }
  .parallex-description-bg p{
    font-size: 20px;
    color:black; 
  }


/* _________________________________________custom tooletip */
.avatar{
    cursor: pointer;
    top: 0;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-image: url("./assets/website-dev-item.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    margin-left: 100px;

}
.ava-1{
    top:100px;
    right: 30px;
    background-image: url("./assets/memoji1.png");
}
.ava-2{
    top:600px;
    left: 25px;
    background-image: url("./assets/memoji2.png");

}

.ava-3{
    width:60px;
    height:60px;
    top:120px;
    left: 25px;

    background-image: url("./assets/memoji3.png");

}
.ava-4{
    top:650px;
    right: 25px;
    background-image: url("./assets/memoji4.png");

}


.avatar-content-bg{
    --scale:0;
   position:absolute;
   background-color:#2a2a2a;
   width:clamp(200px,10vw,600px);
   padding:10px;
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   left: -50%;
   top: -50%;
   transform: scale(var(--scale));
   transition: all 200ms ease-in;
   transform-origin:  center;
   z-index: 1;
}
.avatar-content-bg-3{
    left: -110%;
   top: -120%;
}

.avatar:hover .avatar-content-bg{
 --scale:1;
}

.avatar-content-bg p{
    font-size: 14px;
    text-align: start;
    color:#eee;
    padding-top: 5px;
}
.tolltip-header img{
    width:50px;
    height:50px;
    border-radius: 50%;
}

.tolltip-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;

}

.tooltip-header-name-stars h1{
    margin: 0px;
    color: #eee;
    font-size: 18px;
}
.tooltip-stars-bg{
display: flex;
align-items: center;
}
.tooltip-stars-bg i{
 color:	#ffd700;
 font-size: 15px;
}

@media (max-width:990px) {
    .client-card-cep-para{
        font-size: 16px;
    }
    .ava-1{
        top:100px;
        right: 30px;
    }
    .ava-2{
        top:600px;
        left: -25px;
    }
    .ava-3{
        top:200px;
        left: -50px;
    }
    .ava-4{
        left:50%;
    top: 100%;
    }
    .parallex-description-bg h1{
        font-size: 36px;
      }
      .priority-tagline{
        font-size: 45px;
      }
      .parallex-description-bg p{
        font-size: 16px;
      }
      .client-ceo-image{
        width:55px;
        height:60px;
    }
    .tooltip-header-name-stars h1{
        font-size: 12px;
    }
    .client-ceo-logoimage{
        width:30px;
        height:30px;
      }
     
    
}
    @media (max-width:700px) {
        .parallex-description-bg p{
          display: none;
          }
          .avatar{
            display: none;
          }

          .parallex-content-bg{
           flex-direction: column;
           justify-content: center;
            align-items: center;
            gap: 40px;
            /* height:100vh; */
           padding-bottom: 300px;
        }
        .parallex-description-bg{
            padding-top:0px;
          }
          .parallex-content-bg{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 40px;
            /* height:100vh; */
           padding-bottom: 350px;
        }
        .clients-cards-scroller{
            width: 100%;
            padding-bottom: 50px;
        }
        .clietn-card{
            width:90%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 20px;
        }


        .client-ceo-image{
            width:60px;
            height:60px;
        }
        .client-card-cep-para{
            font-size: 16px;
            width: 100%;
            line-height: 25px;
        }
        .client-card-ceo-details h1{
          font-size: 20px;

        }
        .client-card-ceo-details p{
            font-size: 16px;
          }
        .client-ceo-logoimage{
            width:40px;
            height:40px;
          }
        



        .parallex-description-bg h1{
          padding-top: 50px;
          padding-bottom: 160px;
          text-align: start;
        }
        .parallex-description-bg h1{
            font-size: 20px;
        }   
          .parallex-description-bg{
            width: 100%;
          }
        


    }



  /* __________________contact________________________ */

  .contact-bg-container{
    padding-top: 50px;
  }

  .contact-main-heading{
    font-size: 42px;
    color: #fff;
    padding-bottom: 15px;
    font-weight: bold;
  }
  .contact-left-right-holder{
    display: flex;
    flex-direction: row;
    position:relative;
  }
  .contact-left-part{
    width: 50%;
    color: rgba(238, 238, 238,40%);
    opacity: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    gap: 250px;
  }
  .contact-left-part>p{
    /* color: red; */
    color: rgba(238, 238, 238,70%);
  }
  .contact-left-part p{
    font-size: 18px;
  }
  .contact-right-part{
    width: 50%;
    position: relative;
  }
  .contact-brutanix{
    font-size:16px;
    color:#3772ff;
    padding-bottom: 20px;
    text-decoration: none;
  }
  .widget label{
    font-size: 14px;
    color:#eeeeee;
    /* color:rgba(238, 238, 238, 30%); */
    opacity: 50%;
  }
  .widget label::after{
    content:"*";
    color:red;
    font-size: 15px;
  }
  .widget input{
    width:100%;
    border:1px solid rgba(238, 238, 238, 0.3);
    border-radius: 6px;
    padding:15px 15px;
    background: transparent;
    color: #eee;
  }
  .widget{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
    margin-bottom: 20px;
  }
  .widget textarea{
    width:100%;
    background-color: #2a2a2a;
    border:1px solid rgba(238, 238, 238, 0.3);
    border-radius: 6px;
    color: #eee;
    padding: 15px;
  }
  .widget-button{
    text-align: center;
  }
  #contact-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .contact-fomr-button{
    border:none;
    border-radius: 10px;
    padding:15px 50px;
    color:white;
    background-color:#2a2a2a;
  }

  @media (max-width:990px) {
    .contact-main-heading{
        font-size: 36px;
    }
    .contact-left-part p{
        font-size: 14px;
      }

  }
  @media (max-width:700px) {
    .contact-left-right-holder{
        padding:50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-left-part{
        display: none;
    }
    #contact-form{
        position: static;
        padding: 0px ;
    }
    .contact-right-part{
        width: 100%;
    }
    .widget{
        width: 100%
    }
    .contact-fomr-button{
        background-color:rgba(238, 238, 238, 0.3);
        color: white;
        font-weight: bold;
    }


  }

  /* ___________________footer section______________________ */
  .footer-bg-container{
    background-color: white;
    position:relative;
    padding-bottom: 10px;
  }
  
  
  .footer-inner-container{
   
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    /* padding-bottom: 100px; */
  }
  .footer-stamp{
     position: absolute;
     width:290px;
     top:-100px;
     left: -100px;
  }
  .fotter-contact-widget{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
  }
  .contact-brutannix-footer{
    width:300px;
    margin-bottom: 10px;
  }
  .fotter-contact-widget p{
    color:rgba(42, 42, 42, 68%);
    margin-bottom: 0px;
  }
  .fotter-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;

  }
  .fotter-navigations{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .fotter-navigations h1{
    font-size:32px;
    color:rgba(42, 42, 42, 90%);
    font-weight: 500;
  }
  .fotter-navigations p{
    font-size:22px;
    font-weight: bold;
    font-weight: 500;
    color:rgba(42, 42, 42, 68%);
    margin: 0px;
  }

.fotter-socials{
    align-self: center;
    
}

.fotter-social-container svg{
    margin-right: 20px;
}
.fotter-socials h1{
    color:rgba(42, 42, 42, 90%);
    margin-bottom: 20px;
    font-size:32px;
}
.footer-copyright{
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color:rgba(42, 42, 42, 30%);
    border-top: 1px solid rgba(42, 42, 42, 10%);
    margin:0px 20px;
    font-weight: 400px;
    font-family: 'Inter', sans-serif !important;
}
.small-divice-socials{
    display: none;
}
.footer-small-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row{
    width:100%;
}

@media(max-width:900px){
    .contact-brutannix-footer{
        width:200px;
      }
      .fotter-contact-widget p{
        font-size: 16px;
      }
      .fotter-navigations h1{
        font-size:28px;
 
      }
      .fotter-navigations p{
        font-size:18px;
      }
      .fotter-navigations{
       gap:6px;  
    }
    .fotter-socials h1{
        font-size:28px;
    }
    .fotter-socials svg{
        width:20px;
        margin-right: 10px;
    }
    .footer-stamp{

        width:200px;
        top:-70px;
        left: -70px;
     }
     .footer-inner-container{
   
        display: flex;
        justify-content: space-between;
        padding-top: 130px;
     }
     .fotter-contact-widget svg{
        width:16px;
     }
}
@media(max-width:680px){
     .contact-brutannix-footer{
        width:200px;
      }
      .fotter-contact-widget p{
        font-size: 16px;
      }
      .fotter-navigations h1{
        font-size:28px;
 
      }
      .fotter-navigations p{
        font-size:18px;
      }
      .fotter-navigations{
       gap:6px;  
    }
    .fotter-socials h1{
        font-size:28px;
    }
    .fotter-socials svg{
        width:20px;
        margin-right: 10px;
    }
    .footer-stamp{

        width:200px;
        top:-70px;
        left: -70px;
     }
     .footer-inner-container{
   
        display: flex;
        justify-content: space-between;
        padding-top: 130px;
     }
     .fotter-contact-widget svg{
        width:16px;
     }
     .fotter-socials{
        align-self: flex-start;
        
    }
    .footer-inner-container{
       flex-wrap: wrap;
      }
    .fotter-contacts{
       width:50%;
    }
    .fotter-navigations{
        width:50%;
    }
    .fotter-socials{
        width:50%;
    }
}


@media(max-width:550px){
    .fotter-contacts{
        width:100%;
        margin-bottom: 20px;
     }
     .fotter-navigations{
         width:100%;
         margin-bottom: 20px;
     }
     .fotter-socials{
         width:100%;
         margin-bottom: 20px;
     }
     .fotter-navigations{
        gap:4px;  
     }
     .contact-brutannix-footer{
        margin-bottom: 5px;
      }
      .fotter-contact-widget{
        gap: 5px;
      }
      .fotter-socials h1{
        margin-bottom: 10px;
      }
      .footer-copyright{
        padding-top: 10px;
        
      }
    
}